
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>

    <tr th:each="user: ${listaUsers}">
        <td th:text="${user.id}" />
        <td th:text="${user.nombre}" />
        <td th:text="${user.apellido}" />

        <td><a th:href="@{/user/borrar/} + ${user.id}"  th:text="'Eliminar'"></a></td>
        <td><a th:href="@{/user/modificar/} + ${user.id}" th:text="'update'"></a></td>
        <td><a th:href="@{/user/detalles/} + ${user.id}" th:text="'Detalles'"></a></td>


    </tr>

</table>

<a href="/formulario">Volver</a>
</body>
</html>