
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<table action="#" th:action="@{/formulario}" th:object="${form}" method="get">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    <forEach var="users"
               items="${allUser}"
               varStatus="status">
        <tr>
            <td><b>${status.index + 1}</b></td>
            <td>${users.nombre}</td>
            <td>${users.apellido}</td>
        </tr>
    </forEach>

</table>

<a href="/formulario">Volver</a>
<!--<p th:text="'id: ' + ${Formulario.id}" />
<p th:text="'nombre: ' + ${Formulario.nombre}" />
<p th:text="'apellido: ' + ${Formulario.apellido}" />
<a href="/formulario">Volver</a>-->

</body>
</html>