
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>

    <tr th:each="formulario: ${listaUsers}">
        <td th:text="${formulario.id}" />
        <td th:text="${formulario.nombre}" />
        <td th:text="${formulario.apellido}" />

        <td><a th:href="@{/user/borrar/} + ${formulario.id}" th:text="'Eliminar'"></a></td>
        <td><a th:href="@{/user/modificar/} + ${formulario.id}" th:text="'Modificar'"></a></td>

    </tr>


       <!-- <td><a th:href="@{/user/borrar/{id}} + ${formulario.id}" th:text="'Eliminar'" ></a></td>
    </tr>-->
</table>

<a href="/formulario">Volver</a>
</body>
</html>