<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Modificar al Usuario</h1>

<form action="#" th:action="@{/user/modificar}" th:object="${userUpdateGET}" method="post">
    <p><input type="text" th:field="*{id}" style="display:none" /></p><!-- Ponerlo invisible -->
    <p>nombre: <input type="text" th:field="*{nombre}"/></p>
    <p>apellido: <input type="text" th:field="*{apellido}"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>